# Variables d'environnement
NODE_ENV=production

# Port de l'API
PORT=4000

# Base de données PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/shop_db"

# CORS origins
CORS_ORIGINS=http://localhost:3000,https://votre-domaine.com